body {
  color: #F6F6F6;
  background-color: #363738;
  font-family: 'Staatliches', cursive;
}

h1 {
  font-size: 2vw;
}

.App {
  text-align: center;
}

a {
  color: #1E9ABE;
}

a.nav {
  font-size: 3vw;
  position: absolute;
  top: 10px;
  left: 10px;
}

a:hover {
  text-decoration: none;
}

.card {
  border-radius: 25px;
  box-shadow: 8px 8px 20px #d4f7f7;
  width: 60%;
  margin: 0 auto;
  background-image: url("img/bg.jpg");
  background-position: top center;
  min-height: 400px;
}

.card-body {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: rgb(255,255,255,0.1);
  border: none;
}

button {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}


@media only screen and (max-width: 700px) {
  h1 {
    font-size: 7vw;
  }
}

